
body {
    background-color: rgb(32, 140, 162);
    display: grid;
    align-items: center;
    justify-content: center;

}
.input {
  font-size: 23px;
    background: #3e4553;
    border: 1px solid #313949;
    box-shadow: inset -5px -5px 10px rgba(64, 75, 95, 0.25), inset 5px 5px 10px #2C3341;
    border-radius: 12px 12px 12px 12px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    height: 76px;
    width: 300px;
    color: rgba(red, green, blue, alpha);
}
.top_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container {
 margin-top: 20px;
}
.btn {
    font-size: 20px;
    width: 80px;

}

.blue {
    background-color: rgb(0, 153, 255);
}

.green {
    background-color: rgb(121, 238, 43);
}

.red {
    background-color: rgb(255, 0, 0);
}

.yellow {
    background-color: rgb(251, 208, 17);
}

.dropdown {
    position: relative;
    display: inline-block;
    background: #0E1625;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 76px;
    height: 76px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: #030101;
    box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 76px;
    height: 304px;

}
.dropdown-content p {
    color: #f9f9f9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown span {
    font-size: 55px;
    display: flex;
    align-items: center;
    color: #f9f9f9;
    justify-content: center;
}
.result_container{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}
.result_container div{
        width: 453px;
        height: 76px;
        background: linear-gradient(47.94deg, #2C3341 19.6%, #313949 77.32%);
        border: 2px solid rgba(49, 57, 73, 0.5);
        box-shadow: 0px 0px 15px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        padding-right: 20px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        color: #FFFFFF;

}
.result_container button
{
    color: white;
    background: black;
    border-radius: 25px;
    width: 60px;
    height: 62px;
    font-size: 35px;
    margin-top: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
@media (max-width:700px){
    .top_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .result_container{
    flex-direction: column;
    }
}
@media (max-width:500px){
    .result_container div{
        width: 100%;
    }
    .input{
        width: 100%;
    }
}